{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "amd":true,
	"es6":true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/prop-types": 0
    }
}
