name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: install
        run: yarn install && cd example && yarn install
      - name: lint
        run: yarn lint
      - name: build
        run: yarn build
